.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

span {
  transition: 0.2s;
}
span:hover {
  background-color: gray;
  transition: 0.2s;
}
